.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Raleway';
}

.main {
  flex: 1 0 auto;
}

#hidden {
  height: 1px;
  width: 1px;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
}

#hidden:hover {
  color: white;
}
