header {
  width: 100%;
  position: relative;
  top: 6rem;
}

header img {
  position: absolute;
  left: 6%;
  height: 6rem;
}

header nav {
  position: absolute;
  right: 0;
  width: 43.5%;
  height: 6rem;
  z-index: 0;
  border-bottom: 1px solid #eee;
}

header nav ul {
  list-style: none;
  margin-bottom: 0;
  margin-left: 3rem;
}

header nav ul li {
  position: relative;
  float: left;
  margin-bottom: 0;
  display: list-item;
}

header nav ul li a {
  display: block;
  padding: 1.8rem 2.5rem;
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
  color: #fff;
}

header nav ul li a:hover {
  border-bottom: 1px solid #0FA0CE;
}
