.second-background {
  background-image: url('../assets/IMG_2977.jpg');
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-content {
  overflow: scroll;
  height: 64vh;
  top: 17vh;
  background-color: inherit;
}

.project-content > img.scroll-icon {
  width: 15%;
  position: absolute;
  right: 2%;
  top: 30%;
  opacity: 1;
  transition: 500ms;
}

.project-row {
  height: 65vh;
  margin-bottom: 1.5rem;
}

.project {
  height: 100%;
  background-color: rgba(60, 60, 60, 0.75);
  border-radius: 9rem;
}

.project > div.img-container {
  width: 100%;
  height: 25%;
  position: relative;
}


.project > div.img-container > .background-icon {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 9rem 9rem 0 0;
  opacity: 0;
  transition: opacity 400ms;
}

.project > div > a > img.project-icon {
  text-align: center;
  height: 100%;
  width: 30%;
  position: relative;
  opacity: 1;
  transition: opacity 400ms;
}

.project > div.project-desc-container {
    width: 85%;
    margin: 0 auto;
    height: 70%;
}

.project > div.project-desc-container > p.title {
  height: 12%;
  font-weight: bold;
  font-size: 130%;
  margin: 0;
}

.project > div.project-desc-container > p.project-desc {
  height: 17%;
  font-weight: 400;
  font-size: 80%;
  margin: 0;
}

.project > div.project-desc-container > p.list-header {
  text-align: left;
  font-weight: 300;
  font-size: 80%;
  width: 80%;
  margin: 3% auto 2%;
}

.project > div.project-desc-container > ul.project-list {
  height: 40%;
  text-align: left;
  font-weight: 200;
  font-size: 80%;
  width: 65%;
  margin: 3% auto;
}

.project > div.project-desc-container > ul.project-list > li {
  margin: 0 0 3%;
}

.project > div.project-desc-container > div.button-row {
  margin-top: 0;
}

.my-butt, .my-butt:visited {
  color: white;
  padding: 0 5%;
  margin: 0 3%;
  transition: 500ms;
}

.my-butt:hover {
  color: #222;
  background-color: #fff;
  transition: 500ms;
}
